 <section id="contact" class="contact">
      <div id="map"></div>
      <br>
    <br>
    <br>
      <div class="container text-center">
        <div class="form-holder">
          <header>
            <!-- <h2>Contact Us</h2> -->
            <h3 style="color:black;font:100;padding:0">Feel free to contact us</h3>
          </header>
          <form id="form-inline" method="get" action="#">
            <div class="row">
              <label for="user-name" class="col-md-6 unique">Name
                <input id="user-name" type="text" name="username" required="">
              </label>
              <label for="user-email" class="col-md-6 unique">Email
                <input id="user-email" type="email" name="useremail" required="">
              </label>
              <label for="message" class="col-md-12 unique">Your Message
                <textarea id="message" name="message" required=""></textarea>
              </label>
              <div class="col-md-12">
                <button id="submit" type="submit" class="btn btn-unique">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- <div class="col-sm-8"> -->
        <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark">  -->
            <div class="h-100 row align-items-center">
                <div class="col" >

                <a class="navbar-brand" href="#"> <img src="/assets/images/alli.jpg" width="300" height="300" alt="Ali" class="rounded-circle" alignment="justify-content-center"  class="mx-auto d-block" style="transform:rotate(0deg);">
                    <span><br>   <h1 style="color:midnightblue;width: 50px;padding: 0vmax;border-bottom-left-radius: 0rem;border-block-end-color: mediumvioletred">CREATED BY ALI Jaffery</h1>  </span> </a>
            </div> 
