  
<div class="page-holder">
        <!-- navbar-->
        <header class="header">
          <nav class="navbar navbar-expand-lg fixed-top">
            <!-- <div class="container"><a href="#" class="navbar-brand"> <img src="logo.png" alt="HotSuop" width="100"></a>
                <img src="ali.jpg" alt="Ali" width="100"> -->
              	
              <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a href="#hero" class="nav-link link-scroll">Home</a></li>
                  <li class="nav-item"><a href="#about" class="nav-link link-scroll">About</a></li>
                  <!-- <li class="nav-item"><a href="#services" class="nav-link link-scroll">Services</a></li>
                  <li class="nav-item"><a href="#dishes" class="nav-link link-scroll">Dishes</a></li> -->
                  <li class="nav-item"><a href="#menu" class="nav-link link-scroll">Menu</a></li>
                  <li class="nav-item"><a href="#gallery" class="nav-link link-scroll">Gallery</a></li>
                  <!-- <li class="nav-item"><a href="#booking" class="nav-link link-scroll">Reservation</a></li> -->
                  <li class="nav-item"><a href="#contact" class="nav-link link-scroll">Contact </a></li>
                </ul>
                <a id="open-reservation" href="#" class="btn navbar-btn btn-unique d-none d-lg-inline-block">Make a Reservation          </a>
              
            </div>
          </nav>
        </header>
        <!-- End Navbar-->
      </div>
  
  
  
  
  <section id="about" class="about">
            <div class="container text-center">
              <header>
                <h2>About Restaurant</h2>
                
              </header>
              <div class="h-100 row align-items-center">
                  <div class="col" >
  
                  <a class="navbar-brand" href="#"> <img class="img-fluid" src="/assets/images/welcome.png"  class="mx-auto d-block" width="300" height="300" alt="Ali" class="rounded" alignment="justify-content-center"  class="mx-auto d-block" style="transform:rotate(0deg);">
                      <span>  <h1 style="color:midnightblue;width: 50px;padding: 0vmax;border-bottom-left-radius: 0rem;border-block-end-color: mediumvioletred">Check our story</h1>    </span> </a>
              </div> 
              <p class="lead">Our Restaurant Provide Facilities For all Foods Such as Desi food and Chinese food,
                  We also provide Free Home Delivery Facilitity to The Customers.Our Restaurant have 5 Star Rating 
              </p>
            </div>
            </div>
          </section>

           <section id="contact" class="contact">
      <div id="map"></div>
      <br>
    <br>
    <br>
      <div class="container text-center">
        <div class="form-holder">
          <header>
            <!-- <h2>Contact Us</h2> -->
            <h3 style="color:black;font:100;padding:0">Feel free to contact us</h3>
          </header>
          <form id="form-inline" method="get" action="#">
            <div class="row">
              <label for="user-name" class="col-md-6 unique">Name
                <input id="user-name" type="text" name="username" required="">
              </label>
              <label for="user-email" class="col-md-6 unique">Email
                <input id="user-email" type="email" name="useremail" required="">
              </label>
              <label for="message" class="col-md-12 unique">Your Message
                <textarea id="message" name="message" required=""></textarea>
              </label>
              <div class="col-md-12">
                <button id="submit" type="submit" class="btn btn-unique">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- <div class="col-sm-8"> -->
        <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark">  -->
            <div class="h-100 row align-items-center">
                <div class="col" >

                <a class="navbar-brand" href="#"> <img src="/assets/images/alli.jpg" width="300" height="300" alt="Ali" class="rounded-circle" alignment="justify-content-center"  class="mx-auto d-block" style="transform:rotate(0deg);">
                    <span><br>   <h1 style="color:midnightblue;width: 50px;padding: 0vmax;border-bottom-left-radius: 0rem;border-block-end-color: mediumvioletred">CREATED BY ALI Jaffery</h1>  </span> </a>
            </div> 
